* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  background-color: white; }

.header {
  background-color: #E5E5E5;
  min-height: 75rem;
  position: relative;
  min-width: 80rem; }

.navigation {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between; }
  .navigation__logo {
    height: 3rem;
    width: 3rem;
    margin-left: 5rem; }
  .navigation__nav {
    font-size: 1.8rem;
    font-weight: 700; }
  .navigation__list {
    display: flex;
    justify-content: space-around; }
  .navigation__item {
    list-style: none; }
    .navigation__item:not(:last-child) {
      margin-right: 2rem; }
    .navigation__item:not(:last-child) {
      padding-right: 2.5rem; }
  .navigation__link {
    color: #767676;
    text-decoration: none; }
    .navigation__link .span-1 {
      color: #2B88D9; }
  .navigation__button {
    margin-right: 3rem; }
  .navigation__btn {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #767676; }
    .navigation__btn:not(:last-child) {
      padding-right: 1rem; }
    .navigation__btn .span-2 {
      background-color: #2B88D9;
      padding: .8rem;
      color: white; }

.headers {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem; }
  .headers__heading {
    margin-left: 4rem; }
  .headers__heading-1 {
    font-size: 5.5rem;
    font-weight: 700; }
    .headers__heading-1:not(:last-child) {
      padding-top: 10rem; }
    .headers__heading-1 span {
      color: #2B88D9; }
    .headers__heading-1 .span-3 {
      color: #f2f2f2;
      font-size: 4.5rem;
      padding-left: 4rem; }
  .headers__photo {
    flex: 1;
    height: 50rem;
    width: 80rem; }

.select {
  position: absolute;
  top: 65%;
  width: 96.5%;
  box-shadow: 0 0.4rem 3.5rem 0 #F1F8FF;
  padding: 1.5rem; }
  .select__list {
    display: flex;
    justify-content: space-around;
    min-width: 50%; }
  .select__options {
    width: 15rem;
    border: none;
    padding: 0 3rem; }
  .select__heading {
    font-weight: 400;
    font-size: 2rem; }
  .select__btn {
    background-color: #2B88D9;
    width: 15rem;
    padding: 1.5rem;
    border: none;
    color: #f2f2f2;
    margin-left: 3rem; }

.banner {
  min-height: 20%;
  margin: 8rem auto;
  background-color: #E5E5E5; }

.container {
  margin: 2rem 2rem;
  height: 100vh;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
