.header{
    background-color: #E5E5E5;
    min-height: 75vh;
    position: relative;
    width: 100% ;
   
    @media only screen and (max-width: $bp-medium){
        min-width: 70%;
        min-height: 60vh;
     }
     @media only screen and (max-width: $bp-small){
        min-width: 50%;
        min-height: 50vh;
     }
     @media only screen and (max-width: $bp-smal){
      min-width: 40%;
      min-height: 40vh;

   }

}

.navigation{
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;

    &__logo{
        height: 3rem;
        width: 3rem;
        margin-left: 5rem;
        @media only screen and (max-width: $bp-medium){
            height: 2rem;
            width: 2rem;
            margin-left: 4rem;
         }
         @media only screen and (max-width: $bp-smal){
            height: 1.5rem;
            width: 1.5rem;
            margin-left: 3rem;
         }
    }
     

    &__nav{
        font-size: 1.8rem;
        font-weight: 700;
        @media only screen and (max-width: $bp-medium){
            font-size: 1.5rem;
         }
         @media only screen and (max-width: $bp-small){
            font-size: 1rem;
         }
         @media only screen and (max-width: $bp-smal){
            font-size: .7rem;
         }
        

    }
    &__list{
        display: flex;
     justify-content: space-around;
     

    }
    &__item{

        list-style: none;
        &:not(:last-child){
            margin-right: 2rem;
            @media only screen and (max-width: $bp-medium){
                margin-right: 1.5rem;
             }
             @media only screen and (max-width: $bp-small){
                margin-right: 1rem;
             }
             @media only screen and (max-width: $bp-smal){
               margin-right: .5rem;
            }
            
             
        }
     
        &:not(:last-child){
            padding-right: 2.5rem;
            @media only screen and (max-width: $bp-medium){
                padding-right: 2rem;
             }
             @media only screen and (max-width: $bp-small){
                padding-right: 1.5rem;
             }
             @media only screen and (max-width: $bp-small){
               padding-right: 1rem;
            }
        }
    }

    &__link{
        color: #767676;
      text-decoration: none;

      .span-1{
        color: $color-secondary;
      }
    }

    &__button{
    margin-right: 3rem;
    }
    &__btn{
        text-decoration: none;
        &:not(:last-child){
            padding-right: 1rem;
        }
     font-size: 1.8rem;
     font-weight: 700;
     color: #767676;
     @media only screen and (max-width: $bp-medium){
        font-size: 1.5rem;
        font-weight: 400;
     }
     @media only screen and (max-width: $bp-small){
        font-size: 1rem;
        font-weight: 400;
     }
     @media only screen and (max-width: $bp-small){
      font-size: .7rem;
      font-weight: 400;
   }
   @media only screen and (max-width: $bp-smal){
      font-size: .6rem;
      font-weight: 400;
      padding-bottom: .5rem;
   }
   @media only screen and (max-width: $bp-sma){
      font-size: .5rem;
      font-weight: 400;
   }


     .span-2{
        background-color: $color-secondary;
        padding: .8rem;
        color: white;
     }
    
    }
}

.headers{

    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    

    

    &__heading{
        
        margin-left: 4rem;
        
    }
    &__heading-1{

        

        font-size: 5.5rem;
        font-weight: 700;

        &:not(:last-child){
            padding-top: 10rem;
            @media only screen and (max-width: $bp-medium){
                padding-top: 8rem;
             }
             @media only screen and (max-width: $bp-smal){
               padding-top: 6rem;
            }
        }

        span{
            color: $color-secondary;
        }

        .span-3{
            color: #f2f2f2;
            font-size: 4.5rem;
            padding-left: 4rem;
            @media only screen and (max-width: $bp-medium){
                font-size: 3rem;
                padding-left: 3rem;
             }
             @media only screen and (max-width: $bp-small){
                font-size: 2rem;
                padding-left: 2rem ;
             }
             @media only screen and (max-width: $bp-smal){
               font-size: 1rem;
               padding-left: 1rem ;
            }
        }


        @media only screen and (max-width: $bp-largest){
        font-size: 4rem;

        }
        @media only screen and (max-width: $bp-medium){
            font-size: 2.5rem;
         }
        @media only screen and (max-width: $bp-small){
            font-size: 2rem;
         }
         @media only screen and (max-width: $bp-smal){
            font-size: 1.5rem;
         }
    }
    &__photo{
        flex:1;
     height: auto;
     width: 75%;
     @media only screen and (max-width: $bp-large){
        height: auto;
        width: 70%;
     }
     @media only screen and (max-width: $bp-medium){
      height: auto;
        width: 67%;
     }
     @media only screen and (max-width: $bp-small){
      height: auto;
        width: 64%;
     }
     @media only screen and (max-width: $bp-smal){
      height: auto;
      width: 60%;
   }
    
    }



}
    

.select{

    position: absolute;
    top:85%;
    // left:0;
    // right: 0;
    box-shadow: 0 .4rem 3.5rem 0 $color-tertiary;
    padding: 1.5rem;
    width: 95.5%;
    @media only screen and (max-width: $bp-largest){
      width: 90%;
      top: 75%;
      padding: 1rem;
   }
    @media only screen and (max-width: $bp-large){
      width: 90%;
      top: 60%;
      padding: 1rem;
   }

    @media only screen and (max-width: $bp-medium){
        width: 90%;
        top: 50%;
        padding: 1rem;
     }
     @media only screen and (max-width: $bp-small){
        width: 90%;
        top: 47%;
        left: 10%;
        padding: .7rem;
     }
     @media only screen and (max-width: $bp-smal){
      width: 90%;
      top: 60%;
      left: 8%;
      padding: .5rem;
   }
   @media only screen and (max-width: $bp-sma){
      width: 90%;
      top: 56%;
      left: 5%;
      padding: .5rem;
   }

    
    &__list{
        display: flex;
        //justify-content: space-around;
        min-width: 50%;
        position: relative;
        @media only screen and (max-width: $bp-medium){
            min-width: 30%;
         }
         @media only screen and (max-width: $bp-small){
            min-width: 20%;
         }

    }
 &__option{
    appearance: none;
     width: 100%;
     border: 1.5px solid $color-tertiary;
     background-image: url("../img/arrow.png");
     background-repeat: no-repeat;
     background-position: right;
     padding: 1rem;
     @media only screen and (max-width: $bp-medium){
        padding: .5rem;

     }
     @media only screen and (max-width: $bp-small){
        padding: .3rem;
        background-image: none;
     }
    
 }

  &__heading{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .5rem;
    @media only screen and (max-width: $bp-medium){
        font-size: 1.5rem;
     }
     @media only screen and (max-width: $bp-small){
        font-size: 1rem;
      
     }
     @media only screen and (max-width: $bp-smal){
      font-size: .5rem;
   
   }
 
   
  }
  &__btn{
    background-color: $color-secondary;
    width: 15rem;
    padding: 1.5rem;
    border: none;
    color: #f2f2f2;
    margin-left: 3rem;
    @media only screen and (max-width: $bp-medium){
        width: 10rem;
        padding: 1rem;
        margin-left: 2rem;
     }
     @media only screen and (max-width: $bp-small){
        width: 6rem;
        padding: .7rem;
        margin-left:1.3rem; 
     }
     @media only screen and (max-width: $bp-smal){
      width: 5rem;
      padding: .6rem;
     margin-left:1rem; 
   }
  }
  

}


    
